body{
    background-color: #000000;
    color:      #ffffff;
    font-family: Arial sans-serif;
}
/* ============================
          SECCION
   ============================       
 */

h2{
  color: #0a0707;
  font-size: 40px;
}

.seccion{
    background-color:rgb(14, 13, 13) ;
}

#perfil{
    background-color: rgb(10, 7, 7);
}

p{
    color: #070505;
    font-size: 20px;
}